{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
About Us
{% endblock title %}

{% block content %}

			<!-- END Side panel -->
			<!-- Header space -->
			<div class="header-space"></div>
			<!-- END Header space -->
			<!-- Big banner -->
			<section class="fw-main-row dark-bg" style="height:590px; background-image: url(../static/images/imgs/big-banner2.jpg);">
				<div class="fw-container centered-container tac">
					<h2 class="h1 big">el belleza<br>means 'the beauty'</h2>
					<a href="javascript:void(0);" class="button-style1"><span>discover more</span></a>
				</div>
			</section>
			<!-- END Big banner -->
			<!-- Info section -->
			<section class="fw-main-row padding-on info-section" style="background: #ededed;">
				<div class="fw-container full">
					<!-- Info section image -->
					<div class="fw-col-xs-12 fw-col-md-4 fw-col-lg-6 is-col">
						<div class="side-image" style="background-image: url(../static/images/imgs/about-p2.jpg);">
							<img src="{% static "images/imgs/about-p.jpg" %}" alt="jennifer light">
						</div>
					</div>
					<!-- END Info section image -->
					<!-- Info section text -->
					<div class="fw-col-xs-12 fw-col-md-8 fw-col-lg-6 is-col tac">
						<div class="is-text clearfix">
							<div class="tabs-area">
								<ul class="tabs-head">
									<li class="active-tab">mission</li>
									<li>principles</li>
									<li>philosophy</li>
								</ul>
								<div class="tab-content visible">
									<h2 class="h1 heading-decor">mission</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
									<a href="javascript:void(0);" class="button-style1" style="margin-top: 45px;margin-bottom: 65px;"><span>read all about</span></a>
								</div>
								<div class="tab-content">
									<h2 class="h1 heading-decor">about our studio</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<a href="javascript:void(0);" class="button-style1" style="margin-top: 45px;margin-bottom: 65px;"><span>read all about</span></a>
								</div>
								<div class="tab-content">
									<h2 class="h1 heading-decor">about our studio</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
									<a href="javascript:void(0);" class="button-style1" style="margin-top: 45px;margin-bottom: 65px;"><span>read all about</span></a>
								</div>
							</div>
						</div>
					</div>
					<!-- END Info section text -->
				</div>
			</section>
			<!-- END Info section -->
			<!-- Grid icon box -->
			<div class="fw-main-row" style="padding: 60px 0;">
				<div class="fw-container">
					<h2 class="heading-decor">OUR services</h2>
					<div class="icon-box-area">
						<div class="icon-box-col">
							<div class="icon icon-font icon-tags"></div>
							<h3>branding</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<div class="icon-box-col">
							<div class="icon icon-font icon-paint-brush"></div>
							<h3>sketching</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
						<div class="icon-box-col">
							<div class="icon icon-font icon-photo-camera-1"></div>
							<h3>photography</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
						<div class="icon-box-col">
							<div class="icon icon-font icon-computer"></div>
							<h3>retouche</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
						<div class="icon-box-col">
							<div class="icon icon-font icon-video-camera"></div>
							<h3>movies</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
						<div class="icon-box-col">
							<div class="icon icon-font icon-musical-note-1"></div>
							<h3>soundtracks</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
					</div>
				</div>
			</div>
			<!-- END Grid icon box -->
			<!-- Team grid -->
			<div class="fw-main-row">
				<div class="fw-container full">
					<div class="fw-row">
						<div class="fw-col-xs-12 fw-col-sm-12 fw-col-md-8 fw-col-lg-6 team-grid-item fixed" style="background-image: url(../static/images/imgs/team1.jpg);">
							<div class="centered-container">
								<h1>our top models</h1>
								<p>Bikhaji Cama Place, New Delhi<br>(312) 323-4355, info@elbelleza.com</p>
							</div>
						</div>
						{% for each in models %}
						<div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-4 fw-col-lg-3 team-grid-item" style="background-image: url({{each.main_pic.url}});">
							<div class="centered-container">
								<div class="name">{{each.name}}</div>
								<p>Country: {{each.country}}</p>
							</div>
							<!-- <div class="tg-social">
								<a href="javascript:void(0);"><i class="social-icons icon-facebook-logo"></i></a>
								<a href="javascript:void(0);"><i class="social-icons icon-instagram-social-network-logo-of-photo-camera"></i></a>
								<a href="javascript:void(0);"><i class="social-icons icon-twitter-logo"></i></a>
							</div> -->
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- END Team grid -->
			<!-- Content -->
			<!-- END Content -->
			<!-- Instagram photo slider -->
			<section class="fw-main-row dark-bg" style="padding: 30px 0 0;">
				<div class="fw-container full">
					<div class="fw-col-xs-12">
						<h2 class="heading-decor2 normal">my instagram <a href="javascript:void(0);" class="button-style1 fr hd-btn"><i class="social-icons icon-instagram-social-network-logo-of-photo-camera"></i><span>follow us</span></a></h2>
					</div>
					<div class="fw-row">
						<div class="ig-carousel">
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide1.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide5.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide2.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide6.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide3.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide7.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide4.jpg);"><a href="javascript:void(0);"></a></div>
						</div>
					</div>
				</div>
			</section>
			<!-- END Instagram photo slider -->
			<!-- Reviews slider -->
			<!-- END Reviews slider -->
			<!-- Big banner -->
			<section class="fw-main-row dark-bg" style="height:470px; background-image: url(../static/images/imgs/big-banner3.jpg);">
				<div class="fw-container centered-container tar">
					<h5>READY TO START?</h5>
					<h2 class="h1 heading-decor">work with us</h2>
					<p><i>Get to know more!</i></p>
					<a href="javascript:void(0);" class="button-style1 white"><span>submit</span></a>
				</div>
			</section>
			<!-- END Big banner -->

{% endblock content %}
