{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">

<head>
		<meta charset=utf-8>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock title %} | El Belleza, Best Modelling Agency based in Delhi NCR, India</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link id="favicon" rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="144x144" href="images/favicon144.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/favicon114.png">
		<link rel="stylesheet" href="{% static "css/fonts.css" %}">
		<link rel="stylesheet" href="{% static "css/icon-font.css" %}">
		<link rel="stylesheet" href="{% static "css/social-icons.css" %}">
		<link rel="stylesheet" href="{% static "css/frontend-grid.css" %}">
		<link rel="stylesheet" href="{% static "js/owl.carousel/owl.carousel.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<link rel="stylesheet" href="{% static "css/mobile.css" %}">
		<!--[if IE]>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.0/mootools-yui-compressed.js" %}"></script>
		<script type="text/javascript" src="{% static "js/selectivizr-min.js" %}"></script>
		<script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js" %}"></script>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" %}"></script>
		<![endif]-->
	</head>

  <body>
		<div id="page">
			<!-- Page preloader -->
			<div id="page-preloader">
				<div class="spinner centered-container"></div>
			</div>
			<!-- END Page preloader -->

      {% include "menu.html" %}
			{% include "sidemenu.html" %}

      {% block content %}
      {% endblock content %}

      {% include "footer.html" %}

    </div>
      <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    	<script src="{% static "js/owl.carousel/owl.carousel.min.js" %}"></script>
    	<script src="{% static "js/jquery.animateNumber.min.js" %}"></script>
    	<script src="{% static "js/script.js" %}"></script>

  </body>
</html>
