{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Contact Us
{% endblock title %}

{% block content %}

			<!-- Header space -->
			<div class="header-space"></div>
			<!-- END Header space -->
			<section class="fw-main-row">
				<div class="fw-container">
					<h1 class="heading-decor">contact</h1>
				</div>
			</section>
			<!-- Map -->
			<div class="fw-main-row" style="margin-top: 14px;">
				<div id="map" style="border:0; height: 335px; width: 100%;"></div>
			</div>
			<!-- END Map -->
			<section class="fw-main-row" style="padding: 30px 0 50px;">
				<div class="fw-container">
					<div class="fw-row">
						<div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-4" style="margin-bottom: 20px;">
							<h5 class="heading-decor2">contacts</h5>
							<!-- Contact rows -->
							<div class="contact-row">
								<div class="label">Address:</div>
								<div class="value">346A State Street, Brooklyn, NY 11217</div>
							</div>
							<div class="contact-row">
								<div class="label">Phone:</div>
								<div class="value">+1 (800) 123 45 67 - Office</div>
							</div>
							<div class="contact-row">
								<div class="label">Email:</div>
								<div class="value"><a href="mailto:support@promo-theme.com">support@elbelleza.com</a></div>
							</div>
							<!-- END Contact rows -->
						</div>
						<div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-4" style="margin-bottom: 20px;">
							<h5 class="heading-decor2">follow us</h5>
							<!-- Social icons -->
							<div class="social-links">
								<a href="javascript:void(0);"><i class="social-icons icon-facebook-logo"></i></a>
								<a href="javascript:void(0);"><i class="social-icons icon-instagram-social-network-logo-of-photo-camera"></i></a>
								<a href="javascript:void(0);"><i class="social-icons icon-twitter-logo"></i></a>
								<a href="javascript:void(0);"><i class="social-icons icon-pinterest-social-logo"></i></a>
								<a href="javascript:void(0);"><i class="social-icons icon-youtube-logotype"></i></a>
							</div>
							<!-- END Social icons -->
						</div>
						<div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-4" style="margin-bottom: 20px;">
							<h5 class="heading-decor2">stay in touch</h5>
							<!-- Subscribe form -->
							<form action="javascript:void(0);" class="subscribe-form"><input type="text" placeholder="Enter your e-mail" name="email" class="input"><button type="submit" class="button-style1"><span>subscribe</span></button></form>
							<!-- END Subscribe form -->
						</div>
					</div>
					<div class="fw-row" style="padding: 50px 0 0;">
						<h2 class="heading-decor">We’d love to hear from you</h2>
						<p class="tac t-text">If you have any questions about our products or services,<br>our team is ready to answer on it.<br>So feel free to get in touch with our support team.</p>
						<!-- Feedback form -->
						<form action="javascript:void(0);" class="feedback-form fw-row" style="margin-top: 50px;">
							<div class="fw-col-xs-12 fw-col-sm-4">
								<input type="text" name="name" placeholder="name" class="input-style1">
								<input type="text" name="e-mail" placeholder="e-mail" class="input-style1">
								<input type="text" name="phone" placeholder="phone" class="input-style1">
							</div>
							<div class="fw-col-xs-12 fw-col-sm-8">
								<textarea name="text" cols="30" rows="10" placeholder="Message" class="textarea-style1"></textarea>
							</div>
							<div class="fw-col-xs-12 tac"><button type="submit" class="button-style1"><span>submit</span></button></div>
						</form>
						<!-- END Feedback form -->
					</div>
				</div>
			</section>

			<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyBqnMfRjGOw09DMXjrd5vbTgiRHRntQ7N0&amp;sensor=false"></script>
			<script>
			  function initialize() {
			    var myLatlng = new google.maps.LatLng(37.319836, -122.045168);
			      var mapOptions = {
			        zoom: 16,
			        center: myLatlng,
			        disableDefaultUI: true,
			        scrollwheel: false,
			        mapTypeId: google.maps.MapTypeId.ROADMAP,
			        styles: [{"featureType":"all","elementType":"all","stylers":[{"saturation":-100},{"gamma":1}]}]
			      }
			      var map = new google.maps.Map(document.getElementById("map"), mapOptions);

			      var myLatLng = new google.maps.LatLng(37.319836, -122.045168);
			      var beachMarker = new google.maps.Marker({
			        position: myLatLng,
			        map: map
			      });
			      google.maps.event.addDomListener(window, "resize", function() {
			        var center = map.getCenter();
			        google.maps.event.trigger(map, "resize");
			        map.setCenter(center);
			      });
			    }
			    google.maps.event.addDomListener(window, 'load', initialize);
			</script>

		{% endblock content %}
