{% load staticfiles %}
<!-- Footer -->
<footer class="footer dark-bg">
  <div class="fw-container">
    <div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-3">
      <div class="h5 heading-decor2">contacts</div>
      <!-- Contact rows -->
      <div class="contact-row">
        <div class="label">Address:</div>
        <div class="value">Bikhaji Cama Place, New Delhi </div>
      </div>
      <div class="contact-row">
        <div class="label">Phone:</div>
        <div class="value">+91 (11) 65000357 - Office</div>
      </div>
      <div class="contact-row">
        <div class="label">Email:</div>
        <div class="value"><a href="mailto:support@elbelleza.com">support@elbelleza.com</a></div>
      </div>
    </div>
    <div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-3">
      <div class="h5 heading-decor2">gallery</div>
      <!-- Gallery thumbnails -->
      <div class="gallery-module fw-row">
        <div class="fw-col-xs-4 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img1.jpg" %}" alt="gallery item 1"></a></div>
        <div class="fw-col-xs-4 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img2.jpg" %}" alt="gallery item 2"></a></div>
        <div class="fw-col-xs-4 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img3.jpg" %}" alt="gallery item 3"></a></div>
        <div class="fw-col-xs-4 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img4.jpg" %}" alt="gallery item 4"></a></div>
        <div class="fw-col-xs-4 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img5.jpg" %}" alt="gallery item 5"></a></div>
        <div class="fw-col-xs-4 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img6.jpg" %}" alt="gallery item 6"></a></div>
      </div>
    </div>
    <div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-2">
      <div class="h5 heading-decor2">LINKS</div>
      <!-- Footer nav -->
      <nav class="footer-nav">
        <ul>
          <li><a href="photographer.html">Home Page</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="gallery1.html">Gallery</a></li>
          <li><a href="blog1.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-4">
      <div class="h5 heading-decor2">stay in touch</div>
      <!-- Subscribe form -->
      <form action="javascript:void(0);" class="subscribe-form"><input type="text" placeholder="Enter your e-mail" class="input"><button type="submit" class="button-style1"><span>subscribe</span></button></form>
      <!-- Social links -->
      <div class="social-links">
        <span>follow us:</span>
        <a href="javascript:void(0);"><i class="social-icons icon-facebook-logo"></i></a>
        <a href="javascript:void(0);"><i class="social-icons icon-instagram-social-network-logo-of-photo-camera"></i></a>
        <a href="javascript:void(0);"><i class="social-icons icon-twitter-logo"></i></a>
        <a href="javascript:void(0);"><i class="social-icons icon-pinterest-social-logo"></i></a>
        <a href="javascript:void(0);"><i class="social-icons icon-youtube-logotype"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->
