{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock title %}

{% block content %}
			<!-- Side panel -->

			<!-- END Side panel -->
			<!-- Full scren slider -->
			<section class="full-screen-slider">
				{% for each in sliders %}
				<div class="item dark-bg" style="background-image: url({{each.image.url}});">
					<div class="fw-container centered-container tal">
						<h1>{{each.title|safe}}</h1>
						<p>{{each.content|safe}}</p>
					</div>
				</div>
				{% endfor %}
			</section>
			<!-- END Full scren slider -->
			<!-- Info section -->
			<section class="fw-main-row padding-on info-section" style="background: #ededed;">
				<div class="fw-container full">
					<!-- Info section image -->
					<div class="fw-col-xs-12 fw-col-md-4 fw-col-lg-6 is-col">
						<div class="side-image" style="background-image: url(../static/images/adel.jpg);">
							<img src="{% static "images/imgs/about-p.jpg" %}" alt="adel-singh">
						</div>
					</div>
					<!-- END Info section image -->
					<!-- Info section text -->
					<div class="fw-col-xs-12 fw-col-md-8 fw-col-lg-6 is-col tac">
						<div class="is-text clearfix">
							<h5 style="margin-bottom:60px;">Featured Model</h5>
							<h1 class="heading-decor">adel singh</h1>
							<p>
								Age: 26<br />
								Chest: 52<br />
								Arms: 34<br />
								Legs: 44<br />
							</p>
						</div>
					</div>
					<!-- END Info section text -->
				</div>
			</section>
			<!-- END Info section -->
			<!-- Portfolio categories -->
			<div class="fw-main-row" style="padding: 15px 0;">
				<div class="fw-container full">
					<div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-4 fw-col-lg-3">
						<div class="portfolio-cat-item" style="background-image: url(../static/images/imgs/cat1.jpg);"><a href="javascript:void(0);"><span>fashion models</span></a></div>
					</div>
					<div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-4 fw-col-lg-3">
						<div class="portfolio-cat-item" style="background-image: url(../static/images/imgs/cat3.jpg);"><a href="javascript:void(0);"><span>e-commerce models</span></a></div>
					</div>
					<div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-4 fw-col-lg-3">
						<div class="portfolio-cat-item" style="background-image: url(../static/images/imgs/cat4.jpg);"><a href="javascript:void(0);"><span>car show models</span></a></div>
					</div>
					<div class="fw-col-xs-12 fw-col-sm-6 fw-col-md-4 fw-col-lg-3">
						<div class="portfolio-cat-item" style="background-image: url(../static/images/imgs/cat5.jpg);"><a href="javascript:void(0);"><span>beauty paegent models</span></a></div>
					</div>
				</div>
			</div>
			<!-- END Portfolio categories -->
			<!-- Instagram photo slider -->
			<section class="fw-main-row dark-bg" style="padding: 30px 0 0;">
				<div class="fw-container full">
					<div class="fw-col-xs-12">
						<h2 class="heading-decor2 normal"><span>my instagram</span> <a href="javascript:void(0);" class="button-style1 fr hd-btn"><i class="social-icons icon-instagram-social-network-logo-of-photo-camera"></i><span>follow us</span></a></h2>
					</div>
					<div class="fw-row">
						<div class="ig-carousel">
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide1.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide5.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide2.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide6.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide3.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide7.jpg);"><a href="javascript:void(0);"></a></div>
							<div class="item" style="background-image: url(../static/images/imgs/instagram/slide4.jpg);"><a href="javascript:void(0);"></a></div>
						</div>
					</div>
				</div>
			</section>
			<!-- END Instagram photo slider -->
			<!-- Content -->
			<!-- END Content -->
			<!-- Big banner -->
			<section class="fw-main-row dark-bg" style="height:470px; background-image: url(../static/images/imgs/big-banner6.jpg);">
				<div class="fw-container centered-container tal">
					<h5>READY TO START?</h5>
					<h1 class="heading-decor">work with us</h1>
					<p><i>Get to know more!</i></p>
					<a href="javascript:void(0);" class="button-style1 white"><span>submit</span></a>
				</div>
			</section>
			<!-- END Big banner -->

{% endblock content %}
