{% load staticfiles %}

<!-- Page header -->
<header class={% if request.resolver_match.view_name == "website:index" %} "header dark-bg clearfix" {% else %} "header white-bg clearfix" {% endif %}>
  <div class="fw-container">
    <div class="fw-main-row">
      <div class="fl logo-area"><a href="{% url "website:index" %}"><img src="{% static "images/logo2.png" %}" class="logo-dark" alt="Crop It"><img src="{% static "images/logo2-light.png" %}" class="logo-light" alt="elbelleza"></a></div>
      <div class="fr">
        <!-- Site navigation -->
        <nav class="navigation">
          <ul>
            <li><a href="{% url "website:index" %}">HOME</a></li>
            <li><a href="{% url "website:about" %}">ABOUT US</a></li>
            <li><a href="{% url "website:models" %}">OUR MODELS</a></li>
            <li><a href="{% url "website:contact" %}">CONTACT</a></li>
          </ul>
        </nav>
        <!-- END Site navigation -->
        <!-- Search module -->
        <div class="search-top">
          <form class="st-wrap">
            <input type="text" placeholder="Type and hit enter" name="search" class="input"><button class="st-button icon-font icon-search" type="submit"></button>
          </form>
        </div>
        <!-- END Search module -->
        <!-- Side area button -->
        <div class="side-area-btn">
          <div></div>
        </div>
        <!-- END Side area button -->
      </div>
    </div>
  </div>
</header>
<!-- END Page header -->
