{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Our Models
{% endblock title %}

{% block content %}
			<!-- Header space -->
			<div class="header-space"></div>
			<!-- END Header space -->
			<!-- Item filter -->
			<section class="fw-main-row" style="padding: 40px 0;">
				<div class="fw-container full">
					<h1 class="heading-decor">Our Models</h1>
					<!-- END Filter buttons -->
					<div class="cf-items fw-row">
						<!-- Gallery item -->
						{% for each in models %}
						<div class="cf-item gallery-item fw-col-xs-12 fw-col-sm-3 fashion people" style="background-image: url({{each.main_pic.url}});">
							<a href="single-gallery.html">
								<div>
									<div class="name">{{each.name}}</div>
								</div>
							</a>
						</div>
						{% endfor %}
						<!-- END Gallery item -->
					</div>
				</div>
			</section>
			<!-- END Item filter -->

{% endblock content %}
