{% load staticfiles %}

<section class="side-panel dark-bg">
  <div class="close icon-font icon-cancel-1"></div>
  <header class="sp-top">
    <div class="logo-area"><a href="{% url "website:index" %}"><img src="{% static "images/logo2-light.png" %}" class="logo-light" alt="Crop It"></a></div>
  </header>
  <div class="sp-wrap">
    <div>
      <h5 class="heading-decor2">gallery</h5>
      <!-- Gallery thumbnails -->
      <div class="gallery-module fw-row">
        <div class="fw-col-xs-6 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img1.jpg" %}" alt="gallery item 1"></a></div>
        <div class="fw-col-xs-6 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img2.jpg" %}" alt="gallery item 2"></a></div>
        <div class="fw-col-xs-6 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img3.jpg" %}" alt="gallery item 3"></a></div>
        <div class="fw-col-xs-6 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img4.jpg" %}" alt="gallery item 4"></a></div>
        <div class="fw-col-xs-6 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img5.jpg" %}" alt="gallery item 5"></a></div>
        <div class="fw-col-xs-6 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img6.jpg" %}" alt="gallery item 6"></a></div>
        <div class="fw-col-xs-6 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img7.jpg" %}" alt="gallery item 7"></a></div>
        <div class="fw-col-xs-6 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img8.jpg" %}" alt="gallery item 8"></a></div>
        <div class="fw-col-xs-6 fw-col-sm-4 item"><a href="javascript:void(0);"><img src="{% static "images/imgs/gallery-module/img9.jpg" %}" alt="gallery item 9"></a></div>
      </div>
      <h5 class="heading-decor2">contacts</h5>
      <!-- Contact rows -->
      <div class="contact-row">
        <div class="label">Address:</div>
        <div class="value">Bhikaji Cama Place, New Delhi</div>
      </div>
      <div class="contact-row">
        <div class="label">Phone:</div>
        <div class="value">+91 (11) 65000357 - Office</div>
      </div>
      <div class="contact-row">
        <div class="label">Email:</div>
        <div class="value"><a href="mailto:support@elbelleza.com">support@elbelleza.com</a></div>
      </div>
      <!-- Social links -->
      <div class="social-links">
        <span>follow us:</span>
        <a href="javascript:void(0);"><i class="social-icons icon-instagram-social-network-logo-of-photo-camera"></i></a>
        <a href="javascript:void(0);"><i class="social-icons icon-facebook-logo"></i></a>
        <a href="javascript:void(0);"><i class="social-icons icon-twitter-logo"></i></a>
        <a href="javascript:void(0);"><i class="social-icons icon-pinterest-social-logo"></i></a>
        <a href="javascript:void(0);"><i class="social-icons icon-youtube-logotype"></i></a>
      </div>
      <h5 class="heading-decor2">stay in touch</h5>
      <!-- Subscribe form -->
      <form action="javascript:void(0);" class="subscribe-form"><input type="text" placeholder="enter your e-mail" class="input"><button type="submit" class="button-style1 white"><span>subscribe</span></button></form>
    </div>
  </div>
  <footer class="sp-bottom">Copyright © 2016 El Belleza Pvt. Ltd. All Rights Reserved. Designed by <a href="http://www.delhinerds.com">Delhi Nerds</a></footer>
</section>
